/* 서브 패키지 */
.package-visual {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 100px;
}
.pk-visual-mySwiper {
  margin: 0 auto;
}
/* Swiper */
.pk-visual-mySwiper {
  width: 100%;
  height: 100%;
}
.mySlide img {
  width: 1920px;
}
.spk-nepr-btn-wrap {
  position: absolute;
  top: 477px;
  right: 305px;
}
.spk-prev-btn {
  background: url("../images/pakage-visual-prev.png") no-repeat center;
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.spk-next-btn {
  background: url("../images/pakage-visual-next.png") no-repeat center;
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
}
.spk-prev-btn:hover {
  background: url("../images/pakage-visual-prev-hover.png") no-repeat center;
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.spk-next-btn:hover {
  background: url("../images/pakage-visual-next-hover.png") no-repeat center;
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.spk-list {
  position: relative;
  display: flex;
  justify-content: left;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 60px 0px 30px auto;
  cursor: pointer;
}
.spkl-list2 {
  position: relative;
  display: none;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 60px;
  margin: 0 0 5px auto;
  cursor: pointer;
}
.spk-list button.active {
  background-color: #baa693;
  color: #fff;
  font-weight: bold;
}
/* search box */
.pk-search .inner {
  padding: 0 10px;
}
.pk-search {
  position: relative;
  display: block;
  width: 100%;
}
.pk-search .inner {
  padding: 0 10px;
}
.pk-search-text-wrap {
  text-align: center;
  line-height: 50px;
  margin-top: 50px;
}
.pk-search-text-wrap {
  text-align: center;
  line-height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.pk-search-text-wrap h2 {
  font-size: 40px;
  font-weight: bold;
  color: #887160;
}
.pk-search-text-wrap p {
  font-size: 22px;
  color: #887160;
}

.pk-search-text-wrap p {
  font-size: 22px;
  color: #887160;
}

.spk-list {
  position: relative;
  display: flex;
  justify-content: left;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 60px 0px 30px auto;
  cursor: pointer;
}
.spk-list2 {
  position: relative;
  display: none;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 60px;
  margin: 0 0 5px auto;
  cursor: pointer;
}
.spk-list button.active {
  background-color: #b99664;
  color: #fff;
  font-weight: bold;
}

.pk-search .text-area {
  margin-top: 160px;
}
.text-area {
  position: relative;
  display: block;
}
.text-area img {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}
.text-area-sub {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 999;
  color: #ededed;
  font-size: 16px;
  font-weight: 500;
  font-family: "notoSans";
  line-height: 30px;
}
.text-area-sub span {
  font-size: 40px;
  font-family: serif;
}
/* 메인 버튼1 */
.spk-list button {
  display: block;
  height: 40px;
  padding: 5px 25px;
  background-color: #fff;
  border: 1px solid #baa693;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
/* 메인 버튼 2 */
.spk-list2 button {
  display: block;
  width: 240px;
  height: 60px;
  line-height: 60px;
  margin: 5px;
  background-color: #fff;

  border: 1px solid #baa693;

  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.pk-search-area {
  width: 100%;
  height: 300px;
  margin: 60px 0 0 0 auto;
}
.pk-search-text {
  padding: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #887160;
}
.select-box-area {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 20px 0;
}
.select-box {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-around;
}
.select-box label {
  width: 100%;
  text-align: left;
}
.select-box form {
  width: 400px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.select-box form select {
  background-color: #f7f7f7;
}
.select-box-area select {
  width: 100%;
  height: 45px;
  padding: 5px;
  border: none;
}
.select-box-area2,
.select-box-area3,
.select-box-area4,
.select-box-area5 {
  display: none;
}
#results {
  display: block;
  margin-top: 30px;
  width: 100%;
  height: 100%;
}
.search-container {
  padding-left: 66px;
}
.pk-search-area label {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: "notoSans";
  color: #414141;
}
.information-area {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
#results {
  display: block;
  margin-top: 30px;
  width: 100%;
  height: 100%;
}
#pkMenuList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* js 출력 css */
.mix2 {
  width: 100%;
  max-width: 450px;
  height: 530px;
  padding: 10px;
  font-family: "notoSans";
  border: 1px solid #887160;
}
.mix2 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}
.mix2 img:hover {
  transform: scale(1.03);
  transition: all 2s;
}
.mix2 h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #494949;
  font-weight: 600;
  line-height: 25px;
}
.pk-box-left {
  width: 100%;
  text-align: center;
}
.pk-box-left p {
  color: #999;
  font-size: 10px;
  margin: 10px 0px;
}
.pk-box-right {
  width: 100%;
  height: 60px;
  line-height: 30px;
  text-align: center;
  /* margin: 0 auto; */
  margin-top: 18px;
}
.pk-box-right p {
  display: block;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-decoration: line-through;
  color: #727272;
}
.pk-box-right .sale {
  font-size: 19px;
  font-weight: 600;
  color: #d82a56;
  text-decoration: none;
}
.inquiry-button2 {
  display: block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 10px auto;
  border: none;
  border-radius: 20px;
  background-color: #887160;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}


.pk-results {
  display: block;
  margin-top: 30px;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 1024px) {
  .mySlide img {
    width: 1024px;
    height: auto;
  }
  .spk-nepr-btn-wrap {
    position: absolute;
    top: 250px;
    right: 165px;
  }
  .spk-prev-btn {
    width: 20px;
    height: 20px;
  }
  .spk-next-btn {
    width: 20px;
    height: 20px;
  }
  .spk-prev-btn:hover {
    width: 20px;
    height: 20px;
  }
  .spk-next-btn:hover {
    width: 20px;
    height: 20px;
  }
}
@media all and (max-width: 768px) {
  .mySlide img {
    width: 768px;
    height: auto;
  }
  .spk-nepr-btn-wrap {
    position: absolute;
    top: 190px;
    right: 125px;
  }
  .spk-prev-btn {
    width: 12px;
    height: 12px;
  }
  .spk-next-btn {
    width: 12px;
    height: 12px;
  }
  .spk-prev-btn:hover {
    width: 12px;
    height: 12px;
  }
  .spk-next-btn:hover {
    width: 12px;
    height: 12px;
  }
}
@media all and (max-width: 480px) {
  .mySlide img {
    width: 480px;
    height: auto;
  }
  .spk-nepr-btn-wrap {
    position: absolute;
    top: 115px;
    right: 75px;
  }
  .spk-prev-btn {
    width: 10px;
    height: 10px;
  }
  .spk-next-btn {
    width: 10px;
    height: 10px;
  }
  .spk-prev-btn:hover {
    width: 10px;
    height: 10px;
  }
  .spk-next-btn:hover {
    width: 10px;
    height: 10px;
  }
}
@media all and (max-width: 400px) {
  .pk-visual-mySwiper{
    width: 100%;
  }
  .mySlide img {
    width: 400px;
    height: auto;
  }
  .spk-nepr-btn-wrap {
    position: absolute;
    top: 95px;
    right: 50px;
  }
  .spk-prev-btn {
    width: 10px;
    height: 10px;
  }
  .spk-next-btn {
    width: 10px;
    height: 10px;
  }
  .spk-prev-btn:hover {
    width: 10px;
    height: 10px;
  }
  .spk-next-btn:hover {
    width: 10px;
    height: 10px;
  }
}
@media all and (max-width: 360px) {
  .mySlide img {
    width: 360px;
    height: auto;
  }
  .spk-nepr-btn-wrap {
    position: absolute;
    top: 80px;
    right: 55px;
  }
  .spk-prev-btn {
    width: 8px;
    height: 8px;
  }
  .spk-next-btn {
    width: 8px;
    height: 8px;
  }
  .spk-prev-btn:hover {
    width: 8px;
    height: 8px;
  }
  .spk-next-btn:hover {
    width: 8px;
    height: 8px;
  }
}
@media all and (max-width: 768px) {
  .mix2 {
    margin-left: 150px;
  }
}
@media all and (max-width: 710px) {
  .spk-btn,
  .spk-btn-1,
  .spk-btn-2,
  .spk-btn-3,
  .spk-btn-4,
  .spk-btn-5 {
    font-size: 16px;
  }
}
@media all and (max-width: 628px) {
  .spk-list {
    display: none;
  }
  .spk-list2 {
    display: flex;
  }
  .spk-list2 button.active {
    background-color: #b99664;
    color: #fff;
    font-weight: bold;
  }
}
@media all and (max-width: 614px) {
  .mix2 {
    margin-left: 75px;
  }
}
@media all and (max-width: 555px) {
  .spk-btn,
  .spk-btn-1,
  .spk-btn-2,
  .spk-btn-3,
  .spk-btn-4,
  .spk-btn-5 {
    font-size: 12px;
  }
}
@media all and (max-width: 534px) {
  .mix2 {
    margin-left: 0px;
  }
}
@media all and (max-width: 360px) {
  .spk-list2 button {
    font-size: 14px;
  }
  .mix2 {
    height: 550px;
  }
}
@media all and (max-width: 320px) {
  .spk-list2 button {
    font-size: 12px;
  }
  .mySlide img {
    width: 320px;
    height: auto;
  }
  .spk-nepr-btn-wrap {
    position: absolute;
    top: 72px;
    right: 48px;
  }
  .spk-prev-btn {
    width: 5px;
    height: 5px;
  }
  .spk-next-btn {
    width: 5px;
    height: 5px;
  }
  .spk-prev-btn:hover {
    width: 5px;
    height: 5px;
  }
  .spk-next-btn:hover {
    width: 5px;
    height: 5px;
  }
}