<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NFH6CXG7");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes"
    />

    <!-- SEO -->
    <meta name="author" content="웨딩포유" />
    <meta name="title" content="웨딩포유 :: " />
    <meta name="keywords" content="웨딩포유, 결혼, 웨딩, 스드메, 식장예약" />
    <meta name="description" content="더 쉽고 간편하게 더 저렴하게 결혼하자" />

    <!-- Open Graph -->
    <meta property="og:title" content="웨딩포유 :: " />
    <meta
      property="og:description"
      content="웨딩포유은 가장 최선의 방법으로 고객님에게 결과를 가져다 드립니다."
    />
    <meta property="og:site_name" content="웨딩포유" />
    <meta property="og:type" content="website" />
    <!-- url로 바꿔야함 -->
    <meta property="og:url" content="http://127.0.0.1:5500/index.html" />

    <meta name="twitter:card" content="summary" />
    <meta
      name="twitter:title"
      content="웨딩포유 :: 지구를 지키는 확실한 행동"
    />
    <meta
      name="twitter:description"
      content="웨딩포유은 가장 최선의 방법으로 고객님에게 결과를 가져다 드립니다."
    />

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/logo_black.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/logo_black.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="images/logo_black.png"
    />
    <!-- <link rel="mask-icon"  href="images/icon/safari-pinned-tab.svg"  color="#5bbad5"/> 없음-->
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Google Tag Manager -->
    <!-- 내 사이트에 로봇이 들어오는것을 허용(검색엔진최적화 seo 적용) -->
    <meta name="robots" content="ALL" />
    <!-- 네이버 모든문서 허용 -->
    <meta name="Yeti" content="index, follow" />
    <meta name="Yeti" content="ALL" />
    <!-- 구글봇 모든문서 허용 -->
    <meta name="googlebot" content="index, follow" />
    <meta name="googlebot" content="ALL" />
    <!-- 다음봇 모든문서 허용 -->
    <meta name="daumoa" content="index, follow" />
    <meta name="daumoa" content="ALL" />
    <!-- 아이폰에서 숫자누르면 자동으로 전화로 연결되는것을 방지 -->
    <meta name="content-language" content="kr" />
    <meta
      name="format-detection"
      content="telephone=no, address=no, email=no"
    />

    <!-- title -->
    <title>Wedding for you</title>

    <!-- Google Tag Manager -->

    <!-- End Google Tag Manager -->
    <!-- 폰트어썸 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <!-- css 초기화 -->
    <link rel="stylesheet" href="css/reset.css" />

    <!-- Swiper Js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- Link Swiper's css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- CSS3 적용 -->
    <!-- <script src="js/prefixfree.min.js"></script> -->

    <!-- jquery 적용 -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <!--  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <!-- script 불러오기 -->
    <script src="js/header.js"></script>
    <script src="js/visual.js"></script>
    <script src="js/package.js"></script>
    <script src="js/package-review.js"></script>
    <script src="js/wedding-hall.js"></script>
    <script src="js/sdm.js"></script>
    <script src="js/review.js"></script>
    <script src="js/looking.js"></script>
    <script src="js/notice.js"></script>
    <script src="js/footer.js"></script>

    <!-- css 불러오기 -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NFH6CXG7"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrap">
      <!-- header -->
      <header class="header clearfix">
        <div class="inner">
          <div class="header-1">
            <div class="logo">
              <a href="index.html">
                <img src="images/logo_black.png" alt="header-logo" />
              </a>
            </div>
            <div class="s-menu">
              <ul>
                <li><a href="#">login</a></li>
                <li><a href="#">my page</a></li>
              </ul>
            </div>
          </div>
          <nav class="header-2">
            <ul>
              <li>
                <a href="s_about.html">about</a>
              </li>
              <li>
                <a href="s_weddinghall.html">wedding hall</a>
              </li>
              <li>
                <a href="s_sdm.html">s.d.m</a>
              </li>
              <li>
                <a href="s_notice.html">q&a</a>
              </li>
              <li>
                <a href="#">review</a>
              </li>
              <li>
                <a href="s_package.html">package</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <!-- visual -->
      <div class="visual clearfix">
        <div class="inner">
         <!-- partial:index.partial.html -->
<div id="app">
  <transition name="carousel-fade" mode="out-in">
    <div class="load-screen" v-if="loading" key="1">
      <p>Loading MCU Timeline</p>
    </div>
    <div class="load-screen" v-else-if="!loading &amp;&amp; error" key="2">
      <p>Timeline could not assemble</p>
    </div>
    <main class="main-screen" v-else="v-else" key="3" :class="{ 'show-modal' : showModal }">
      <carousel v-if="movies.length" :class="scrollDirection" :options="carouselOptions" :movies="movies" :current="current" @scroll-direction="handleScrollDirection" @set-current="handleCurrentSlide" @trigger-modal="handleModal"></carousel>
      <transition name="modal">
        <modal v-if="showModal" :id="movies[current].id" @trigger-modal="handleModal"></modal>
      </transition>
    </main>
  </transition>
</div>
<!-- Component templates-->
<template id="tpl__carousel">
  <div class="carousel">
    <div class="image__viewport">
      <transition name="fade" mode="out-in">
        <carousel-image class="carousel__image" v-if="index === current" v-for="movie, index in movies" :backdrop="movie.backdrop_path" size="1280" :key="movie.id"></carousel-image>
      </transition>
    </div>
    <embla ref="embla" :options="options">
      <carousel-item v-for="movie in movies" :title="movie.title" :key="movie.id" v-on="$listeners"></carousel-item>
    </embla>
    <transition name="fade">
      <button class="btn btn--prev" v-if="canScrollPrev()" @click="scrollPrev">
        <svg class="icon--control" viewBox="0 0 24 24">
          <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
        </svg>
      </button>
    </transition>
    <transition name="fade">
      <button class="btn btn--next" v-if="canScrollNext()" @click="scrollNext">
        <svg class="icon--control" viewBox="0 0 24 24">
          <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
        </svg>
      </button>
    </transition>
    <div class="timeline">
      <div class="dot" v-for="movie, index in movies" :class="{ current : index === current }" @click="scrollTo(index)">
        <div class="dot__image-wrapper">
          <carousel-image :backdrop="movie.poster_path" size="154" :key="movie.id"></carousel-image>
        </div>
      </div>
    </div>
  </div>
</template>
<template id="tpl__embla">
  <div class="carousel__viewport">
    <div class="carousel__container">
      <slot></slot>
    </div>
  </div>
</template>
<template id="tpl__carousel-item">
  <li class="carousel__slide">
    <h2 class="slide__title">{{ title }}</h2>
    <button class="btn btn--cta" @click="handleModal">
      <svg class="icon--play" viewBox="0 0 24 24">
        <path d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M10,16.5L16,12L10,7.5V16.5Z"></path>
      </svg><span>Watch trailer</span>
    </button>
  </li>
</template>
<template id="tpl__carousel-image"><img :src="src"/></template>
<template id="tpl__modal">
  <div class="modal">
    <div class="modal__overlay" @click="handleModal"></div>
    <div class="modal__wrapper">
      <iframe v-if="src" :src="src" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
      <button class="btn btn--close" title="Close trailer window" @click="handleModal">
        <svg class="icon--close" viewBox="0 0 24 24">
          <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path>
        </svg>
      </button>
    </div>
  </div>
</template>
        </div>
        </div>
      </div>
      <!-- Package -->
      <div class="package clearfix">
        <div class="inner"></div>
      </div>
      <!-- package-review -->
      <div class="package-review clearfix">
        <div class="inner"></div>
      </div>
      <!-- wedding-hall -->
      <div class="wedding-hall clearfix">
        <div class="inner">
          <div class="title-text">
            <h2 class="title">WEDDING HALL</h2>
            <p>고객들이 가장 선호 하시는 웨딩 홀을 둘러보세요!</p>
          </div>
          <div class="img-wrap">
            <div class="w-img1">
              <img
                class="w-simg"
                src="images/wedding-hall-sub1.jpg"
                alt="컨벤션 홀"
              />
              <p class="w-stext">컨벤션 홀</p>
            </div>
            <div class="w-img-box">
              <div class="w-img2">
                <img
                  class="w-simg2"
                  src="images/wedding-hall-sub2.jpg"
                  alt="채플 홀"
                />
                <p class="w-stext">채플 홀</p>
              </div>

              <div class="w-img2">
                <img
                  class="w-simg2"
                  src="images/wedding-hall-sub3.jpg"
                  alt="하우스/야외 홀"
                />
                <p class="w-stext">하우스/야외 홀</p>
              </div>
            
            
              <div class="w-img2">
                <img
                  class="w-simg2"
                  src="images/wedding-hall-sub3.jpg"
                  alt="호텔 홀"
                />
                <p class="w-stext">호텔 홀</p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- BEST SDM -->
      <div class="sdm clearfix">
        <div class="inner"></div>
      </div>
      <!-- review -->
      <div class="review clearfix">
        <div class="inner"></div>
      </div>
      <!-- looking -->
      <div class="looking clearfix">
        <div class="inner"></div>
      </div>
      <!-- notice -->
      <div class="notice clearfix">
        <div class="inner"></div>
      </div>
      <!-- footer -->
      <footer class="footer clearfix">
        <div class="inner"></div>
      </footer>
    </div>
  </body>
</html>
